@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  scrollbar-color:  red black;   /* gecko based browsers scrollbar */
  font-family: 'Ubuntu', sans-serif;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(./img/0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
}

#navbar {
  position: sticky;
  width: 100%;
  height: 6vh;
  min-height: 40px;
  top: 0;
  z-index: 1; /* fix text ontop of navbar when scrolling */
}

#buttons {
  display: flex;
  justify-content: center;
  height: 100%;
}
.button {
  background-color: red;
  color: white;
  transition-duration: 0.5s;
  cursor: pointer;
  height: 100%;
  padding: 0 2%;
  outline: none;
  width: 10.9%;
}

.button:hover {
  background-color: white !important; /* fix  background -color overwrite by javascript */
  color: black;
  box-shadow: inset 0px 0px 100px -40px rgba(0, 0, 0, 0.658);
  z-index: 1;
  transform: scale(1.1);
}

button::-moz-focus-inner {
  border: 0; /* fix dotted border on firefox */
}

.img {

  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  height: 60vh;
  width: auto;
  padding-top: 1%;
  transition: ease-in ;
  

}

.bottom {
  animation: fade 2s;
  display: none; /* fix for all divs showing up */
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.651),
    0 3px 1px -2px rgba(0, 0, 0, 0.404), 0 1px 5px 0 rgba(0, 0, 0, 0.623);
  position: relative;
  padding: 2%;
  margin: 3%;
  border-radius: 10px;
}
@keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
.text {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  position: relative;
  padding: 2% 5%;
  margin: 5% 2%;
  border-radius: 10px;
}

.title {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  position: relative;
  padding: 2% 0%; 
  margin: 2% 40%;
  border-radius: 10px;
}


.img-left {
  float: left;
  width: 50%;
  height: auto;
 padding-top: 5%;

}

.img-right {
  float: right;
  width: 50%;
  height: auto;
  padding-top: 5%;
}


/* chromium based browsers scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(248, 0, 0);
  border-radius: 20px;
}
