@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-image: url("./img/warty-final-ubuntu.png");
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

#top-bar {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    width: 100vw;
    height: 3%;
    min-height: 30px;
    user-select: none;
    color: white;
}

#activities {
    display: inline-block;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;


}

#clock {
    position: absolute;
    display: inline-block;
    left: 47%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 5px;

}

#status {
    position: absolute;
    display: inline-block;
    padding: 0 10px;
    padding-bottom: 5px;
    margin-top: 4px;
    right: 0px;
}

.item {
    padding: 0 3px;
    width: 16px;
    filter: brightness(100);
}

#arrow {
    display: none;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgb(64, 64, 64);
    border-width: 20px;
}

#notifications {
    display: none; 
    position: absolute;
    left: 50%;
    margin-left: -21%;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(64, 64, 64);
    user-select: none;
    height: 43%;
    width: 42%;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#left {
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20%;
    text-align: center;
    height: 100%;
    width: 60%;
}
#bell{
    width: 11%;
    filter: brightness(3);
}
#bar {
    margin-top: -20%;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.205);
    height: 90%;
    width:1px ;
}
